@font-face {
  font-family: 'iconfont';  /* project id 1487301 */
  src: url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.eot');
  src: url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.woff') format('woff'),
  url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1487301_e5ktbftp7rk.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'DIN-BOLD';
  src: url('../fonts/DIN-BOLD.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DIN-BOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/DIN-BOLD.woff') format('woff'), /* Modern Browsers */
        url('../fonts/DIN-BOLD.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/DIN-BOLD.svg#DIN-BOLD') format('svg'); /* Legacy iOS */
}