/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

li
  list-style: none




input
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  padding: 0;
input::-webkit-input-placeholder
  color: #999;
  font-size: 1rem;


body
  max-width: 750PX;
  min-width: 320px;
  margin: auto;
  font-family: "PingFang SC", "Heiti SC", Helvetica, sans-serif;
  line-height: 1;
  //-webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;


img
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-touch-callout: none


.clearfix:after
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden


.clearfix
  display: block;
  zoom:1

.clear
  clear: both;
  font-size: 0;
  line-height: 0


// html
//   font-size: 14px;

// @media screen and (min-width: 320px)
//   html
//     font-size: calc(87.5% + 2 * (100vw - 320px) / 55);
//     font-size: calc(14px + 2 * (100vw - 320px) / 55);

// @media screen and (min-width: 375px)
//   html
//     font-size: calc(100% + 2 * (100vw - 375px) / 39);
//     font-size: calc(16px + 2 * (100vw - 375px) / 39);

// @media screen and (min-width: 414px)
//   html
//     font-size: calc(112.5% + 2 * (100vw - 414px) / 354);
//     font-size: calc(18px + 2 * (100vw - 414px) / 354);

// @media screen and (min-width: 768px)
//   html
//     font-size: calc(125% + 2 * (100vw - 768px) / 256);
//     font-size: calc(20px + 2 * (100vw - 768px) / 256);



html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    /* iPhone5的320px尺寸作为14px基准，320px正好14px大小, 375 16px */
    font-size: calc(87.5% + 2 * (100vw - 320px) / 55);
    font-size: calc(14px + 2 * (100vw - 320px) / 55);
  }
}

@media screen and (min-width: 375px) {
  html {
    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}

@media screen and (min-width: 414px) {
  html {
    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586);
  }
}

@media screen and (min-width: 600px) {
  html {
    /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400);
  }
}

@media screen and (min-width: 1000px) {
  html {
    /* 1000px往后是每100像素0.5px增加 */
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
  }
}


.border,.border-left,.border-right,.border-top,.border-bottom{
  position: relative;
  border:none;
}

.border:after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0!important;
  right: 0px;
  bottom: 0;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 0.25rem;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1)!important;
  transform: scale(1)!important;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.border-left:after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid rgba(238, 238, 238, 1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.border-right:after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(238, 238, 238, 1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.border-top:after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid rgba(238, 238, 238, 1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.border-bottom:after{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
@media only screen and (-webkit-device-pixel-ratio:2){
  .border:after{
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5)!important;
      transform: scale(0.5)!important;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 0.5rem;
      pointer-events: none;
  }
  .border-left:after{
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-right:after{
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-top:after{
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-bottom:after{
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
}
@media only screen and (-webkit-device-pixel-ratio:3){
  .border:after{
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33)!important;
      transform: scale(0.33)!important;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 0.75rem;
  }
  .border-left:after{
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33333);
      transform: scale(0.33333);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-right:after{
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33333);
      transform: scale(0.33333);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-top:after{
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33333);
      transform: scale(0.33333);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
  .border-bottom:after{
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33333);
      transform: scale(0.33333);
      -webkit-transform-origin: left top;
      transform-origin: left top;
  }
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #c2c2c2!important;
  font-size: 0.88rem;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #c2c2c2!important;
  font-size: 0.88rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #c2c2c2!important;
  font-size: 0.88rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #c2c2c2!important;
  font-size: 0.88rem;
}