//定义颜色规范
$shop-theme=#ff4800
$shop-subhead=#ff9800
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(225, 225, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(225, 225, 225, 0.3)
$color-text-l = rgba(225, 225, 225, 0.5)
$color-text-ll = rgba(225, 225, 225, 0.8)

// 高度
$height-slider-bottom = 3.4375rem
$top-bar-height = 2.75rem

//字体定义规范
//$font-size-small-s = 10px
//$font-size-small = 12px
//$font-size-medium = 14px
//$font-size-medium-x = 16px
//$font-size-large-x = 18px
//$font-size-large = 22px
