
// 优加2.0 
//主题色
$main-color = rgba(196, 143, 73, 1)
$waring-color = rgba(226, 58, 55, 1)
$price-color = rgba(179, 151, 93, 1)

//分割线颜色
$default-line-color = #eeeeee
$popup-line-color = #dddddd
$default-border-color = #dddddd

//按钮色
$btn-default-color = rgba(199, 199, 199, 1)
$btn-mian-color = rgba(196, 143, 73, 1)

// 高度
$height-slider-bottom = 3.4375rem
$top-bar-height = 2.75rem

//字体定义规范
//$font-size-small-s = 10px
//$font-size-small = 12px
//$font-size-medium = 14px
//$font-size-medium-x = 16px
//$font-size-large-x = 18px
//$font-size-large = 22px
